*{
    margin: 0;
    padding: 0;
}
#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 2px solid rgb(242, 255, 0);
}

#scoreText{
    font-family: sans-serif, cursive;
    font-size: 88px;  
    color: rgb(0, 255, 17);  
}
#resetBtn{
    color: red;
    background-color: rgb(121, 210, 121);
    font-family: sans-serif;
    font-size: 24px;
    height: 50px;
    width: 170px;
    border: 3px red solid;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    left: 15%;
}
#startBtn{
        color: red;
        background-color: rgb(121, 210, 121);
        font-family: sans-serif;
        font-size: 24px;
        height: 50px;
        width: 170px;
        border: 3px red solid;
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        right: 15%;
}
#resetBtn:hover{
    color: rgb(253, 0, 0);
    background-color: rgb(0, 0, 255);
    transition: .5s;
}
#startBtn:hover{
    color: rgb(253, 0, 0);
    background-color: rgb(0, 0, 255);
    transition: .5s;
}